.certificate-heading {
    text-align: center;
    padding: 4rem 0 2rem 0;
}
.certificate-container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
}
.certificate-card {
    border: 1px solid #ff9700;
    border-radius: 10px;
    background: #fff;
    padding: 1.2rem 1rem;
}
.certificate-card img {
    border-radius: 10px;
    width: 100%;
}
.certificate-card img:hover {
    opacity: 0.3;
}
.certificate-date {
    color: #ff9700;
    padding: 1rem 0;
    font-size: 1.1rem;
    text-align: center;
}
.certificate-title {
    color: black;
    /* padding: 1rem 0; */
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.certificate-details p {
    color: black;
    /* padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: justify; */
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.certificate-btns {
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
}
.certificate-btns .btn {
    text-align: center;
    width: 60%;
    padding: 0.5rem 1rem;
}
.certificate-btns .btn-light {
    color: #ff9700;
}.certificate-btns .btn-light:hover {
    color: #fff;
}

@media screen and (max-width: 360px) {
    .certificate-container {
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }    
}

@media screen and (max-width: 740px) and ( min-width: 360px) {
    .certificate-container {
        max-width: 100%;
        height: 100%;
        margin: auto;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);  
    }
    /* .certificate-card {
        max-width: 100%;
    } */
}